@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;500;700;800&family=Quicksand:wght@400;500;600;700&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Quicksand', sans-serif !important;
}